<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            background-image: url('images/bck.jpg'); /* Înlocuiește cu adresa imaginii tale */
            background-size: cover;
            background-position: center;
        }
        form {
            background-image: url('images/bck.jpg'); /* Înlocuiește cu adresa imaginii tale */
            background-size: cover;
            background-position: center;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Login</title>

</head>
<body>
<div>
    <h2>Recuperare parola</h2>
</div>


</div>
<div th:if="${message != null}">
    <div class="alert alert-success" role="alert">
        <p>[[${message}]]</p>
    </div>
</div>

<form th:action="@{/forgot_password}" method="post" style="max-width: 420px; margin: 0 auto;">
    <div class="border border-secondary rounded p-3">
        <div>
            <p>Iti vom trimite un link pentru resetarea parolei pe mail</p>
        </div>
        <div>
            <p>
                <input type="email" name="email" class="form-control" placeholder="Introdu adresa de mail" required autofocus/>
            </p>
            <p class="text-center">
                <input type="submit" value="Trimite" class="btn btn-primary" />
            </p>
        </div>
    </div>
</form>

</body>
</html>